<nb-layout>
    <nb-layout-column>
      <nb-card>
        <nb-card-body>
            <div class="main-header">
               <img class="main-logo" src="/assets/images/logo.svg" width="30%" />
            </div>
            <div class="sub-header">
                This is promo text that shows how great this is
            </div>
            <div class="body">
                <div class="buttons">
                    <a href="/vendor/home">Sign up for a Plan</a>
                    <a href="/insured/home">Manage Your Plan</a>
                </div>
            </div>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>